<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app
        xmlns="http://java.sun.com/xml/ns/javaee"
        version="2.5">
    <display-name>Scala App Engine</display-name>
    <servlet>
        <servlet-name>reset</servlet-name>
        <servlet-class>ResetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>edit</servlet-name>
        <servlet-class>EditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>textile</servlet-name>
        <servlet-class>TextileServlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>reset</servlet-name>
        <url-pattern>/reset.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>edit</servlet-name>
        <url-pattern>/edit.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>textile</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>textile</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
</web-app>